/* GLOBAL */

/* dark theme */
[data-theme="dark"] {
    --theme-color: #e40000;
    --primary-color: #4867b0;
    --primary-light: #ffc945;
    --secondary-color: #ff6e65;
    --primary-dark: #00070c;
    --font-color: #b7b7b7;
    --bg-color: #161c2d;
    --bg-color-2: transparent;
    --heading-color: #fdfffc;
    --footer-color: #0e0e0e;
    --footer-cpy-color: #060606;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.2);
    --iframe-filter: grayscale(100%);
    --bg-grey: #060e1f;
    --bg-light: #121725;
    --bg-dark-color: #27282b;
    --quote-text-color: #e6e6e6;
    --paceholder-color-search: #eee;
    --bg-color-li: rgb(168 176 195 / 11%);
    --box-shadow-color: hsla(222, 34%, 17%, 1);
    --logo-color: #fff;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.container {
	margin: auto;
	width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: 'Montserrat', sans-serif;
}

.title-main h3 {
	font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.title-second span {
	color: var(--secondary-color);
}

.feature-tittle {
	font-size: 24px;
    line-height: 34px;
    font-weight: 600;
	color: var(--heading-color);
}

.pb-5, 
.py-5 {
    padding-bottom: 3rem;
}

/* Top Header */
.top-header {
	background-color: var(--primary-color);
	padding: 14px 15px;
}

/* trước hover */
.top-content a {
	text-decoration: none;
	color: white;
	transition: all .5s;
}

.top-right a {
	margin-right: 1em;
}

/* sau hover */
.top-content a:hover {
color: #ff6e65;
}

.top-content i{
	margin-right: 8px;
	font-size: 0.9rem;
	color: white;
}

/* Header */
.fixed-top {
	position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.nav-fixed {
	padding: 0px;
    border-bottom: none;
    z-index: 99;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    height: 70px;
}

.navbar .navbar-brand {
	color: #0d369f;
	font-size: 26px;
    font-weight: 600;
	transition: all .5s;
}

/* sau hover */
.navbar .navbar-brand:hover {
	color: #ff6e65;
}

#portNavbar .nav-link {
	font-size: 16px;
    color: #060606;
    font-weight: 600;
	text-transform: uppercase;
	transition: all .5s;
}

/* sau hover */
#portNavbar .nav-link:hover {
	color: #ff6e65;
}

.dropdown-menu {
	top: 30px;
	left: 0;
}

#portNavbar form.search-box input {
	font-size: 15px;
	color: #060606;
	border: none;
	background: transparent;
	padding: 10px 35px 10px 14px;
	width: 100%;
	border-radius: 30px;
	border: 2px solid #eee;
  }

  #portNavbar form.search-box {
	display: flex;
	align-items: center;
  }
  
  #portNavbar form.search-box button.search-btn {
	position: absolute;
	color: #0d369f;
	right: 0;
	padding: 8px 12px 8px 2px;
  }

  .navbar-toggler-icon.fa {
	font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    background: var(--primary-color);
    line-height: 34px;
  }
  
.dropdown-toggle::after {
    display:none;
}

/* toggle for dark and light theme */
.dark-mode body {
	background-color: #161c2d;
}

.dark-mode .w3__numbers,
.dark-mode .card-content {
	background-color: #161c2d;
}

.dark-mode .courses-background {
	background-color: #121725;
	transition: all, .3s;
}

.themeIcon i {
	position: relative;
    transform: rotate(-20deg) scale(var(--ggs, 1));
	display: block;
	background-color: none;
}

.themeIcon button {
	display: inline-block;
	padding: 15px;
	width: 10px;
	height: 10px;
	font-size: 30px;
}

.dark-mode .themeIcon button {
	background-color: #161c2d;
	color: #037ef3;
	transition: all, .5s;
}

.dark-mode .themeIcon button:hover {
	color: #ff6e65;
}


.themeIcon button {
	border: none;
	background-color: white;
	
}

/* dark theme style*/
.dark-mode .navbar,
.dark-mode .banner-bottom,
.dark-mode .welcome-area,
.dark-mode .grids-item,
.dark-mode .w3__reviewer,
.dark-mode .w3__team,
.dark-mode .w3__about {
	background-color: #161c2d;
}
.dark-mode .reviewer__item {
	background: #161c2d;;
    box-shadow: hsla(222, 34%, 17%, 1);
}

.dark-mode .nav-fixed .navbar form.search-box input,
.dark-mode .w3__numbers h3,
.dark-mode .w3__counter row,
.dark-mode .team__heading h3,
.dark-mode .reviewer__info h5,
.dark-mode .about__title,
.dark-mode footer,
.dark-mode .numbers__content .counter,
.dark-mode .numbers__content p {
	color: white;
}

.dark-mode .sub-test {
	color: #b7b7b7;
}

.dark-mode .footer__contact,
.dark-mode .team__item {
	background-color: #161c2d;
}

.dark-mode .banner-bottom {
	margin-top: -5em!important;
	
}

.dark-mode .footer__sub,
.dark-mode .team__bottom {
	background-color: #060e1f;
}

.dark-mode .navbar-brand span,
.dark-mode #portNavbar .search-popup input,
.dark-mode #portNavbar .nav-link,
.dark-mode .title-main h3,
.dark-mode .card-info li,
.dark-mode .card-text a,
.dark-mode .welcome-info h3,
.dark-mode .grids-text h5,
.dark-mode .team__name a,
.dark-mode .footer__heading {
	color: white;
}

.dark-mode ::placeholder {
	color: white;
	opacity: 1; /* Firefox */
  }
.dark-mode :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
.dark-mode ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }

/* Banner */
.main-slider-area .container-fluid {
	padding: 0;
}

.carousel-item img {
	width: 100vw;
	height: 92vh;
	object-fit: cover;
	background-position: center right;
	background-repeat: no-repeat;
	padding: unset;
}
.carousel-caption h5 {
	font-size: 70px;
	line-height: 80px;
	font-weight: bold;
	color: white;
	right: 41%!important;
}

.carousel-caption .btn-style {
	padding: 14px 30px;
	font-weight: 600;
	margin-top: 48px;
	font-size: 16px;
	color: #060606;
	border-radius: 4px;
	background: #fff;
	border: none;
	transition: all 0.25s ease-in-out;
}

.carousel-caption .btn-style:hover {
	color: white;
	background-color: #ff6e65;
}

.carousel-indicators {
	left: unset;
	right: 20px;
	bottom: 100px;
	margin: unset;
	flex-direction: column;
	gap: 8px;
}

.carousel-indicators li {
	width: 15px;
	height: 15px;
	border: unset;
	border-radius: 50%;
	background-color: #fff;
	margin: unset;
}

.carousel-indicators li.active {
	background-color: #ff6e65;
}

.carousel-caption {
	text-align: left;
	/* left: 0; */
	bottom: 150px;
	margin-left: 35px;
	padding: 110px 65px;
}

/* Banner bottom */
.banner-bottom {

		margin-top: -5em;
  }

.banner-item {
padding: 0 15px;
text-align: center;
}

.banner-content {
	position: relative;
  padding: 50px 35px;
  z-index: 1;
  border-radius: 8px;
}

.banner-content .title-head {
	color: white;
	transition: all .5s;
}

.banner-content .title-head:hover {
	color: #000;
	transition: all .5s;
	text-decoration: none;
}

.banner-content h4 {
	margin-top: 20px;
}

.banner-content i {
	color: white;
	font-size: 45px;
}

.banner-item .color-1 {
	background-color: #007bff;
	height: 100%;
}

.banner-item .color-2 {
	background-color: #ffc107;
	height: 100%;
}

.banner-item .color-3 {
	background-color: #ff4f81;
	height: 100%;
}

.banner-item .color-4 {
	background-color: #1ee697;
	height: 100%;
}

/* Welcome */
.welcome-item {
	justify-content: center;
}

.welcome-tittle {
	max-width: 700px;
}

h3.title-second {
	position: relative;
}
	
h3.title-second::before,
h3.title-second::after {
	content: "";
	width: 60px;
	height: 2px;
	background-color: var(--font-color);
	position: absolute;
  right: 0;
  margin: 0 auto;
	display: block;
}

h3.title-second::before {
	left: -20px;
	bottom: -8px;
}

h3.title-second::after {
	left: 20px;
	bottom: -15px;
}

.welcome-images span {
	color: var(--primary-color);
    font-size: 30px;
    background: var(--bg-color-li);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.welcome-info a {
	text-decoration: none;
}

.welcome-info .feature-tittle {
	transition: all .5s;
}

.welcome-info .feature-tittle:hover {
	color: #ff6e65;
}

.welcome-info p {
	margin-top: 15px;
	font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: .4px;
}

/* Courses */
.courses-background {
	background: var(--bg-light);
}

.card-image img {
	display: block;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-price {
	position: absolute;
    right: 25px;
    bottom: -25px;
}

.card-price h6 {
	border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: var(--secondary-color);
    color: #FFFFFF;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
    min-width: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
	padding: 20px;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--bg-color-2);
}

.meta-list {
    position: absolute;
    left: 30px;
    top: 15px;
}

.meta-list a {
    background: #1DC295;
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-right: 5px;
}

.meta-list a:nth-of-type(1) {
    background-color: #FFA100;
}

.meta-list a:nth-of-type(3) {
    background-color: #037ef3;
}
	  
.card-top {
	color: var(--heading-color);
}

.card-top li i {
	color: var(--secondary-color);
}

.card-text h4 a {
	color: var(--heading-color);
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
	text-decoration: none;
	transition: all .5s;
}

.card-text a:hover {
	color: #ff6e65;
}

.card-text p {
	line-height: 28px;
    color: var(--font-color);
    letter-spacing: .4px;
}

.card-bottom {
	border-top: 1px solid var(--border-color-light);
}

.card-bottom ul {
	margin: 0;
}

.rating-list li {
	display: inline-block;
}

.rating-list a {
	transition: .5s all;
}

.rating-list li i {
	color: #ffc949;
    font-size: 15px;
}

.card-bottom a.btn-style-primary {
	color: var(--secondary-color);
    padding: 0;
    background: transparent;
    font-size: 14px;
}

.card-bottom a.btn-style {
	font-weight: 600;
}

.card-bottom a:hover {
	color: var(--primary-color);
}

.courses-button .btn-style {
	padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none; 
}

.courses-button .btn-style-secondary {
	background: var(--secondary-color);
    color: #fff;
    transition: 0.3s ease-out;
}

.courses-button .btn-style-secondary:hover {
	background: var(--primary-color);
    color: #fff;
}

/* Grids */
.grids {
	background: url(../images/bg-grids.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.grids-item {
	background-color: white;
    padding: 30px;
    border-radius: 8px;
}

.grids-icon i {
margin-right: 1rem;
color: var(--primary-color);
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}

.grids-text h5 {
	font-size: 20px;
    line-height: 30px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 6px;
}

.grids-text p {
    font-size: 16px;
    line-height: 28px;
    color: var(--font-color);
    letter-spacing: .4px;
	margin: 0;
}


*******/* RESPONSIVE */*********

/* Header */
@media (min-width: 768px) { 
	
.carousel-item img {
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
    min-height: 90vh;
}
}




/* font-family: 'Montserrat', sans-serif; */
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: 'Montserrat', sans-serif;
}

body a,
button,
.btn {
	cursor: pointer !important;
}

button,
input,
select,
label,
li,
span {
	-webkit-appearance: none;
	outline: none;
}

iframe {
	border: none;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: var(--heading-color);
	font-family: 'Montserrat', sans-serif;
}

p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	color: var(--font-color);
	letter-spacing: 0.4px;
	font-family: 'Segoe UI', sans-serif;
}

a,
a:hover,
button,
button:hover {
	text-decoration: none;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

small,
.small {
	font-size: 80%;
	font-weight: 400;
}

.img-responsive {
	max-width: 100%;
	display: block;
}
/* Numbers */
.numbers__content {
	border-right: 1px solid var(--border-color-light);
}
.numbers__content > .counter {
	font-size: 46px;
	font-weight: 600;
	color: var(--heading-color);
	font-family: 'Segoe UI', sans-serif;
}
.numbers__text {
	text-transform: uppercase;
	color: var(--heading-color);
}
.team__heading {
	max-width: 700px;
}
.team__title {
	font-size: 40px;
	line-height: 50px;
	font-weight: 600;
	position: relative;
}
.team__title > span {
	color: var(--secondary-color);
}
.team__title::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 2px;
	background: var(--font-color);
	right: 0;
	margin: 0 auto;
	left: 20px;
	bottom: -15px;
}
.team__title::before {
	content: '';
	position: absolute;
	width: 60px;
	height: 2px;
	background: var(--font-color);
	right: 0;
	margin: 0 auto;
	left: -20px;
	bottom: -8px;
}
/* Reviewer */
.reviewer__item {
	background: var(--bg-color);
	border-radius: 4px;
	-webkit-box-shadow: 0 20px 62px var(--box-shadow-color);
	box-shadow: 0 20px 62px var(--box-shadow-color);
	padding: 2rem;
}
.reviewer__sub > q::before {
	font-size: 50px;
	color: var(--secondary-color);
	font-family: initial;
	line-height: 0.8;
	padding-top: 8px;
	display: inline-block;
}
.reviewer__profile {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	grid-gap: 5px;
	margin-top: 1.5em;
}
.reviewer__avatar > img {
	border-radius: 50%;
}
.reviewer__info > h5 {
	font-weight: 600;
	line-height: 16px;
}
.reviewer__info > p {
	font-size: 13px;
	color: var(--font-color);
}
/* Team */
.team__item {
	-webkit-box-shadow: 0 20px 62px var(--box-shadow-color);
	box-shadow: 0 20px 62px var(--box-shadow-color);
	padding: 10px;
	background: #fff;
	border-radius: 8px;
}
.team__item:hover .team__bottom .team__name > a {
	color: var(--secondary-color);
}
.team__top {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.team__top > a > img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}
.team__social > a {
	background: #fff;
	width: 28px;
	height: 28px;
	display: inline-block;
	border-radius: 50%;
}
.team__social > a > i {
	color: var(--primary-color);
	font-size: 14px;
	line-height: 28px;
}
.team__social > a:hover {
	opacity: 0.8;
}
.team__info {
	position: absolute;
	bottom: -227px;
	margin: 0;
	background: rgba(8, 8, 8, 0.29);
	padding: 20px 0;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
	-moz-transition: 0.5s all;
	width: 100%;
	text-align: center;
}
.team__name > a {
	font-weight: 600;
	color: var(--heading-color);
}

.team__item:hover div.team__info {
	bottom: 0;
}
/* About */
.about__title {
	font-size: 35px;
	font-weight: 600;
	line-height: 45px;
}
.btn-style {
	padding: 14px 30px;
	font-weight: 600;
	font-size: 16px;
	color: #060606;
	border-radius: 4px;
	background: #fff;
	border: none;
	font-family: 'Segoe UI', sans-serif;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.btn-style:hover {
	background: var(--secondary-color);
	color: #fff;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.btn-style-secondary {
	background: var(--secondary-color);
	color: #fff;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.btn-style-secondary:hover {
	background: var(--primary-color);
	color: #fff;
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
/* Footer */
.copyright {
	background-color: var(--footer-cpy-color);
	padding: 20px 0;
}
.copyright .copy-text > p {
	font-size: 15px;
	line-height: 20px;
	color: #a0a0a0;
}
.copyright .copy-text > p > a {
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	color: #a0a0a0;
}

.footer__about {
	margin-top: 1.2em;
}
.footer__sub {
	background-color: var(--footer-color);
	padding: 80px 0;
}
.footer__sub .sub-desc > h6 {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(23, 54, 88, 0.4);
	padding-bottom: 10px;
	font-weight: bold;
}
.footer__sub .sub-desc ul li a {
	text-decoration: none;
	color: #cecece;
	font-size: 14px;
	line-height: 24px;
	margin: 0px 0px 10px 0px;
	display: block;
}
.footer__sub .sub-desc ul li a:hover {
	color: #fff;
}
.footer__sub .sub-contact > h6 {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(23, 54, 88, 0.4);
	padding-bottom: 10px;
	font-weight: bold;
}
.footer__sub .sub-contact ul li a {
	text-decoration: none;
	color: #cecece;
	font-size: 14px;
	line-height: 24px;
	margin: 0px 0px 15px 0px;
	display: block;
}
.footer__sub .sub-contact ul li a:hover {
	color: #fff;
}
.footer__sub .sub-contact ul li a i {
	font-size: 15px;
}
.footer__sub .sub-social > h6 {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(23, 54, 88, 0.4);
	padding-bottom: 10px;
	font-weight: bold;
}
.footer__sub .sub-social > p {
	font-size: 14px;
	line-height: 24px;
	color: #cecece;
}
.footer__contact {
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 10px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
	-webkit-box-shadow: 0px -1px 41px 0px rgba(21, 22, 23, 0.08);
	box-shadow: 0px -1px 41px 0px rgba(21, 22, 23, 0.08);
}
.footer__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer__form > input {
	width: 100%;
	height: 55px;
	font-size: 16px;
	border: none;
	background: transparent;
	border-radius: 8px 0px 0px 8px;
	border: 1px solid #eeeeee;
	color: #060606;
	line-height: 24px;
	padding: 15px 20px;
}
.footer__form > button {
	background: var(--primary-color);
	border: none;
	color: #fff;
	padding: 16px 30px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 0 8px 8px 0;
}
.footer__heading {
	color: var(--heading-color);
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	line-height: 40px;
	font-size: 35px;
}
.footer__desc {
	font-size: 15px;
	color: var(--font-color);
	letter-spacing: 1px;
}

.form-control:focus {
	outline: 0;
	border: #91e6c4;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}

.mt-columns {
	margin-top: 120px;
}

.columns-2 {
	margin-top: 1.2em;
}

.border-about {
	border-left: 1px solid rgba(64, 73, 82, 0.51);
}

.w3__footer .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
}
.w3__footer .social li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.06);
	text-decoration: none;
	border-radius: 50%;
	text-align: center;
}
.w3__footer .social li a:hover {
	opacity: 0.8;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

@media (max-width: 991px) {
	.footer__contact {
		margin: 0 2em;
	}
}
@media (max-width: 768px) {
	.w3__forms .footer__form button {
		width: 30%;
	}
	.w3__footer .mt-columns {
		margin-top: 150px;
	}
	.footer__contact {
		top: -78px;
	}
}
@media (max-width: 480px) {
	.w3__forms h4.footer__heading {
		font-size: 30px;
	}
}
@media (max-width: 440px) {
	.w3__forms .footer__form {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.w3__forms .footer__form button {
		width: 100%;
		margin-top: 1em;
	}
	.w3__forms .footer__form button {
		padding: 15px 30px;
		border-radius: 4px;
	}
	.w3__forms form.footer__form input {
		border-radius: 4px;
	}
	.w3__forms h4.footer__heading {
		margin-bottom: 10px;
	}
	.w3__forms .footer-midd,
	.w3__forms .footer-midd-2 {
		padding: 0;
	}
	.w3__footer .mt-columns {
		margin-top: 240px;
	}
	.footer__contact {
		padding: 40px;
	}
}
@media (max-width: 360px) {
	.w3__footer .mt-columns {
		margin-top: 300px;
	}
}
@media (max-width: 320px) {
	.w3__forms h4.footer__heading {
		font-size: 26px;
		line-height: 31px;
	}
}
/* back to top */
.back-to-top {
	position: fixed;
	bottom: 90px;
	right: 15px;
	z-index: 9;
	font-size: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	width: 40px;
	height: 40px;
	background: var(--primary-color);
	border-radius: 4px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
}

.cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-top--fade-out {
	opacity: 0.5;
}


:root {
    --theme-color: #e40000;
    --primary-color: #0d369f;
    --primary-light: #fcf1e7;
    --primary-dark: #ffc945;
    --secondary-color: #ff6e65;
    --font-color: #707070;
    --bg-color: #fff;
    --bg-color-2: #fff;
    --heading-color: #060606;
    --footer-color: #060e1f;
    --footer-cpy-color: #040a17;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #eee;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f9f9f9;
    --bg-light: #f8f9ff;
    --bg-dark-color: #fff;
    --quote-text-color: #1d2c4c;
    --paceholder-color-search: #6c757d;
    --bg-color-li: rgb(13 54 159 / 9%);
    --box-shadow-color: rgb(4 20 69 / 10%);
    --logo-color: #0d369f;
}